{#
  @author     Nicolas Bastien <nbastien@prestaconcept.net>

Override standard Layout to add application css, js...

#}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    {% stylesheets
    '@PrestaCMSCoreBundle/Resources/public/admin/less/prestacmscore.less'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{  parent() }}

    <script type="text/javascript" src="{{ asset('/bundles/prestacomposerpublic/ckeditor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        function initWysiwyg()
        {
            //for (name in CKEDITOR.instances) {
            //    CKEDITOR.instances[name].destroy();
            //}

            $.each($('textarea.wysiwyg'), function(index, element) {
                CKEDITOR.replace(element.name, {
                    filebrowserImageBrowseUrl: "{{ url('admin_sonata_media_media_browser') }}"
                });
            });
        }

        /**
         * Trigger wysiwyg save
         */
        function wysiwygTriggerSave() {
            for (elementId in CKEDITOR.instances) {
                $('#'+ elementId).html( CKEDITOR.instances[elementId].getData());
                console.log(elementId,CKEDITOR.instances[elementId].getData())
            }
        }

        $(document).ready(function() {
            var CKEDITOR_BASEPATH = '/bundles/prestacomposerpublic/ckeditor/ckeditor/';
            initWysiwyg();
            $('.btn-tooltip').tooltip();
        });
    </script>
{% endblock %}

{% block top_bar_after_nav %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'dashboard.block.cms.title'|trans({}, 'PrestaCMSCoreBundle') }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_presta_cmscore_website_list') }}">{{ 'dashboard.block.website.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
            <li><a href="{{ path('presta_cms_theme') }}">{{ 'dashboard.block.theme.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
            <li><a href="{{ path('presta_cms_page_edit') }}">{{ 'dashboard.block.page.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
        </ul>
    </li>
{% endblock %}
