{#
  @author     Nicolas Bastien <nbastien@prestaconcept.net>

Override standard Layout to add application css, js...

#}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    {% stylesheets
    '@PrestaCMSCoreBundle/Resources/public/admin/less/prestacmscore.less'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{  parent() }}

    {{ tinymce_init() }}

    <script type="text/javascript">
        function initWysiwyg()
        {
            tinymce.remove('textarea');
            {#
                Tmp code from tinymce_init()
                Should follow https://github.com/stfalcon/TinymceBundle/issues/73 and correct it
             #}
            initTinyMCE({"include_jquery":false,"tinymce_jquery":true,"selector":":not(.no-wysiwyg)","theme":{"simple":{"theme":"modern"}},"use_callback_tinymce_init":false,"tinymce_buttons":[],"external_plugins":[],"jquery_script_url":"\/bundles\/stfalcontinymce\/vendor\/tinymce\/tinymce.jquery.min.js"});
        }

        /**
         * Trigger wysiwyg save
         */
        function wysiwygTriggerSave() {
            tinyMCE.triggerSave();
        }

        $(document).ready(function() {
            $('.btn-tooltip').tooltip();
        });
    </script>
{% endblock %}

{% block top_bar_after_nav %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'dashboard.block.cms.title'|trans({}, 'PrestaCMSCoreBundle') }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_presta_cmscore_website_list') }}">{{ 'dashboard.block.website.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
            <li><a href="{{ path('presta_cms_theme') }}">{{ 'dashboard.block.theme.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
            <li><a href="{{ path('presta_cms_page_edit') }}">{{ 'dashboard.block.page.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
        </ul>
    </li>
{% endblock %}
